.home {
  background-image: url(./assets/bg-home.jpg);
  background-position: center center;
  background-size: cover;
  height: 90vh;
}

@media (max-width: 768px) {
  .home {
    background-image: url(./assets/bg-home-tablet.jpg);
  }
}

@media (max-width: 375px) {
  .home {
    background-image: url(./assets/bg-home-mobile.jpg);
  }
}
