a {
  text-decoration: none;
}

.brand {
  font-size: 2rem;
  font-weight: var(--fw-bold);
}

.brand svg {
  vertical-align: text-bottom;
  font-size: 2.5rem;
}

.brand a {
  color: var(--main-color);
}

.toggle {
  border: none;
}
